// letter spacing
.letter-spacing-none {
  letter-spacing: 0;
}

.q-popup-edit__buttons {
  .q-btn {
    text-transform: none;
  }
}
// app global css in SCSS form
.q-drawer {
  .q-item {
    opacity: 0.6;
    &.q-router-link--exact-active {
      opacity: 1;
    }
  }
}

input::--webkit-outer-spin-button,
input::--webkit-inner-spin-button {
  margin-left: 10px;
}
